
<%= simple_form_for @sticker, html: { multipart: true } do |f| %>
  <%= f.error_notification %>
  <%# Creates an error notfication message which appears when the form object has some error %>
  <%= f.error_notification message: "Something went wrong, please try again" %>

  <%# adding inputs to the forms using the bulma styling framework %>
  <div class="new-listing-form">
    <div class="columns">
      <div class="inputs column margin-column1">
          <div class="control">
            <label class="label">Heading (required)</label>
          </div>
          <div class="control"> 
            <%= f.input :title, required: true, input_html: { class: "input"}, autofocus: true, wrapper: false, label: false %>
          </div>
      </div>
      <div class="inputs column margin-column1">
          <div class="control">
            <label class="label">Price (required)</label>
          </div>
          <div class="control"> 
            <%= f.input :price, required: true, input_html: { class:"input", maxlength: 6 }, autofocus: true, wrapper: false, label: false %>
          </div>
      </div>
    </div>

    <div class="row" style="background-color: #e99898">
      <div class="inputs column margin-column"> 
        <label class="label">Description of sticker (required)</label> 
          <div class="control"> 
            <%= f.input :description, required: true, input_html: { class: "textarea"}, autofocus: true, wrapper: false, label: false %>
          </div>
      </div>
    </div>
      
    <div class="row" style="background-color: #e99898">
        <div class="inputs column margin-column">  
          <label class="label">Finish (required)</label>
            <div class="control"> 
              <span class="select">
                <%= f.input_field :finish, collection: Sticker::FINISH, prompt: "Select finish of sticker" %>
              </span>
              <span class="icon is-small is-left">
                <i class="fa fa-tag"></i>
              </span>
            </div>
        </div>
    </div>

    <div class="row" style="background-color: #e99898">
        <div class="inputs column margin-column">  
          <label class="label">Material (required)</label>
              <div class="control"> 
                <div class="control"> 
                  <span class="select">
                    <%= f.input_field :material, collection: Sticker::MATERIAL, prompt: "Select material type" %>
                  </span>  
                  <span class="icon is-small is-left">
                      <i class="fa fa-tag"></i>
                  </span>
                </div>
              </div>
        </div>    
    </div>

    <div class="row" style="background-color: #e99898">
        <div class="inputs column margin-column">
          <label class="label">Add images (optional)</label>
            <div class="file">
              <label class="file-label">
                <%= f.input :image, as: :file, input_html: { class:"file-input sticker-image" }, autofocus: true, label: false, wrapper: false %>
                  <span class="file-cta">
                    <span class="file-icon"><i class="fa fa-upload"></i></span>
                    <span class="file-label">Upload an image</span>
                  </span>
              </label>
                <%# Javascript added to allow a preview of the file to be seen %>
                <output id="list"></output>
            </div>
        </div>
    </div>

      <div class="row" style="background-color: #e99898">
          <div class="inputs column margin-column2">
            <%= f.button :submit, class: 'button is-warning' %>
            <%= link_to 'Cancel', stickers_path, class:'button is-light' %>
          </div>
      </div>
    
  </div>
<% end %>
