
<%= simple_form_for @sticker, html: { multipart: true } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="row" style="background-color: #f05454;">
  <div class="inputs columns field">
        <div class="control">
          <label class="label">Heading</label>
        </div>
        <div class="control"> 
            <%= f.input :title, required: true, input_html: { class: "input"}, wrapper: false %>
        </div>
  </div>
  <div class="inputs columns field">
      <div class="control">
          <label class="label">Price</label>
        </div>
        <div class="control"> 
             <%= f.input :price, required: true, input_html: { class:"input", maxlength: 6 }, wrapper: false, label_html: { class:"label"} %>
        </div>
  </div>
</div>

<div class="row" style="background-color: #f05454;">
  <div class="inputs column">  
      <div class="control"> 
        <%= f.input :description, required: true, input_html: { class: "textarea"}, wrapper: false, label_html: { class: "label" } %>
      </div>
    </div>
</div>
  
<div class="row" style="background-color: #f05454;">
    <div class="inputs column">  
      <label class="label">Finish</label>
        <div class="control"> 
          <span class="select">
            <%= f.input_field :finish, collection: Sticker::FINISH, prompt: "Select finish of sticker" %>
          </span>
           <span class="icon is-small is-left">
                <i class="fa fa-tag"></i>
            </span>
        </div>
      </div>
</div>

<div class="row" style="background-color: #f05454;">
    <div class="inputs column">  
      <div class="control"> 
          <span class="select">
            <%= f.input_field :material, collection: Sticker::MATERIAL, prompt: "Select material type" %>
          </span>  
           <span class="icon is-small is-left">
                  <i class="fa fa-tag"></i>
          </span>
      </div>
    </div>    
</div>

<div class="row" style="background-color: #f05454;">
    <div class="control">
      <label class="label">Add images</label>
        <div class="file">
          <label class="file-label">
            <%= f.input :image, as: :file, input_html: { class:"file-input sticker-image" }, label: false, wrapper: false %>
              <span class="file-cta">
                <span class="file-icon"><i class="fa fa-upload"></i></span>
                <span class="file-label">Choose a file</span>
              </span>
          </label>
          <output id="list"></output>
        </div>
    </div>
</div>

<div class="row" style="background-color: #f05454;">
    <div class="form-actions">
      <%= f.button :submit, class: 'button is-warning' %>
      <%= link_to 'Cancel', stickers_path, class:'button is-light' %>
    </div>

  </div>
</div>
<% end %>
