
<% content_for :header do %>
<h1>Stickers</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stickers.each do |sticker| %>
      <tr>
        <td><%= sticker.title %></td>
        <td><%= sticker.description %></td>
        <td><%= sticker.finish %></td>
        <td><%= sticker.price %></td>
        <td><%= sticker.material %></td>
        <td><%= link_to 'Show', sticker %></td>
        <td><%= link_to 'Edit', edit_sticker_path(sticker) %></td>
        <td><%= link_to 'Destroy', sticker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sticker', new_sticker_path %>
