<%content_for :body_class %>

<div class="column">

    <div class="other-views">
      <div class="idea-icon-container">
          <span class="icon idea-icon is-large fas fa-3x">
              <i class="fas fa-lightbulb"></i>    
          </span>
           <span class="icon idea-icon is-large fas fa-3x">
              <i class="fas fa-lightbulb"></i>    
          </span>
           <span class="icon idea-icon is-large fas fa-3x">
              <i class="fas fa-lightbulb"></i>    
          </span>
  
  </div>
      <h3 class="subtitle recommendations is-3 ">Got a custom sticker idea? </h3>  
          
      <h3 class="subtitle recommendations is-5 ">Contact a seller today to get a quote!</h3>   
    </div>
    <div class="bg-white pa4 border-radius-3">
    </div>
</div> 

<div class="tile is-ancestor">
<div class="tile is-parent is-9">
      <article class="tile is-child title-tile">
        <p class="title"><%= @sticker.title %> </p>
        <p class="subtitle">Designed by <%= @sticker.user.name %></p>
            <div class="container default-image-holder">
              <% if @sticker.image? %>
                <%= link_to image_tag(@sticker.image_url(:default).to_s), @sticker %>
              <% else  %>
                <h1 class="preview"> No Preview Available </h1>
                <span class="icon no-preview-icon is-large fas fa-4x">
                      <i class="far fa-meh-blank"></i>    
                </span>
              <% end %>
          </div>
      </article>
</div>

<%# Vertical column on right hand side of page containing cart/buying options  %>
<div class="tile is-parent is-3 "> 
    <article class="tile is-child buy-tile notification is-light">
      <div class="content">
        <p class="title">Buy it now!</p>
        <p class="subtitle">For delivery information, please contact the seller</p>
          <div>
             <%= button_to 'Add to cart', cart_items_path(sticker_id: @sticker), class: 'button is-primary has-text-black'%>
          </div>
      </div>
      <span class="icon idea-icon is-large fas fa-8x", style="color: darkgrey;">
         <i class="fas fa-shopping-cart"></i>    
      </span>
      <hr>

<% if @sticker.user.id != current_user.id %>
  <%= button_to "Message #{@sticker.user.username}", conversations_path(sender_id: current_user.id, recipient_id: @sticker.user.id), method: "post", class: 'button is-warning has-text-black' %>
<% else %>
  <%= button_to "Conversations", conversations_path %>
<% end %>

      <div class="container edit-functions">
          <% if sticker_author(@sticker) %>
              <%= link_to 'Edit', edit_sticker_path(@sticker), class: "button is-small is-black" %>
              <%= link_to 'Destroy', @sticker, method: :delete, data: { confirm: "Are you sure you want to delete this sticker listing?" }, class: "button is-small is-black" %>
          <% end %>
      </div>
      <div class="container edit-functions">
      
      </div>
      
    </article>
  </div>
</div>

<%# Styling for the column underneath the product image containing information about that sticker %>
  <div class="column is-8">
      <h4 class="title price"><%= number_to_currency(@sticker.price) %></h4>
    <div class="sticker-text">
      <p class="content">
          Finish: 
        <% if @sticker.finish? %>
          <%= @sticker.finish %>
        <% end %>
      </p>
      <p class="content">
        Material:
        <% if @sticker.material? %>
          <%= @sticker.material %>
        <% end %>
      </p>
    </div>
  
    <div class="show-content">
      <h3 class="subtitle description is-4">Description</h3>
        <%= @sticker.description %>
    </div>
  </div>

  <%# Box of items recommended for the user  %>
  <div class="column">
    <div class="other-views">
      <h3 class="subtitle recommendations is-4 ">Recommended for you:</h3>
        <%# <table class="table is-narrow"> %>
            <tr>
              <td><%= @recommendedstickers %></td>
            </tr>

    <div class="bg-white pa4 border-radius-3">
        <h4 class="is-5 has-text-center price"><%= number_to_currency(@recommendedstickers.price) %></h4>
        <p class="has-text-center">Designed by <%= @recommendedstickers.user.username %></p>
        <div class="container default-image-holder">
              <% if @recommendedstickers.image? %>
                <%= link_to image_tag(@recommendedstickers.image_url(:thumb).to_s), @recommendedstickers %>
              <% else  %>
                <h1 class="preview"> No Preview Available </h1>
                <span class="icon no-preview-icon is-large fas fa-4x">
                      <i class="far fa-meh-blank"></i>    
                </span>
                <div class="see-more">
                  <%= link_to "Read more about this sticker ", @recommendedstickers %>
                </div>
              <% end %>
          </div>
    </div>
    </div>
   
  </div> 
   




