<%content_for :body_class %>

<div class="column">

    <div class="other-views">
      <div class="idea-icon-container">
          <span class="icon idea-icon is-large fas fa-3x">
              <i class="fas fa-lightbulb"></i>    
          </span>
           <span class="icon idea-icon is-large fas fa-3x">
              <i class="fas fa-lightbulb"></i>    
          </span>
           <span class="icon idea-icon is-large fas fa-3x">
              <i class="fas fa-lightbulb"></i>    
          </span>
  
  </div>
      <h3 class="subtitle recommendations is-3 ">Got a custom sticker idea? </h3>  
          
      <h3 class="subtitle recommendations is-5 ">Contact a seller today to get a quote!</h3>   
    </div>
    <div class="bg-white pa4 border-radius-3">
    </div>
</div> 


<div class="tile is-ancestor">
<div class="tile is-parent is-8">
      <article class="tile is-child title-tile">
        <p class="title"><%= @sticker.title %> </p>
        <p class="subtitle">Designed by <%= @sticker.user.name %></p>
        <div class="content">
            <div class="image-holder">
              <div class="feature-image show-image-bg">
                <% if @sticker.image? %>
                  <%= image_tag(@sticker.image_url(:default).to_s) %>
                <% else  %>
                  <h1 class="preview"> No Preview Available </h1>
                <% end %>
              </div>
            </div>
        </div>
      </article>
</div>

<%# Vertical column on right hand side of page containing cart/buying options  %>
<div class="tile is-parent is-4">
    <article class="tile is-child notification is-light">
      <div class="content">
        <p class="title">Tall tile</p>
        <p class="subtitle">With even more content</p>
          <div class="content">
             <%#= button_to 'Add to cart', line_items_path(sticker_id: @sticker), class: 'button is-warning add-to-cart' %>
          </div>
      </div>
    </article>
  </div>
</div>

<%# Styling for the column underneath the product image containing information about that sticker %>
  <div class="column is-8">
      <h4 class="title price"><%= number_to_currency(@sticker.price) %></h4>
    <div class="sticker-text">
      <p class="content">
          Finish: 
        <% if @sticker.finish? %>
          <%= @sticker.finish %>
        <% end %>
      </p>
      <p class="content">
        Material:
        <% if @sticker.material? %>
          <%= @sticker.material %>
        <% end %>
      </p>
    </div>
  
    <div class="show-content">
      <h3 class="subtitle description is-4">Description</h3>
        <%= @sticker.description %>
    </div>
  </div>

  <%# Box of items recommended for the user  %>
  <div class="column">
    <div class="other-views">
      <h3 class="subtitle recommendations is-4 ">People who have bought this sticker have also bought:</h3>
        <table class="table is-narrow">
            <tr>
              <td class="has-text-weight-bold">TEST-TITLE</td>
              <td><%= @sticker %></td>
            </tr>
    </div>
    <div class="bg-white pa4 border-radius-3">
        <h4 class="is-5 has-text-centered price"><%= number_to_currency(@sticker.price) %></h4>
        <p class="has-text-centered mb4">Designed by <%= @sticker.user.name %></p>
    </div>
  </div> 
   


