<nav class="navbar is-primary" role="navigation" aria-label="main navigation" style="background-color: #f05454;">
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
           <span class="icon is-large fas fa-3x tag3">
                <i class="far fa-sticky-note"></i>    
          </span>
          <h1 class="brand-title is-3">StickerStation</h1>
        <% end  %>
    </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">

            <% if user_signed_in? %>
            <div class="subtitle log-in-div">
              <h4 class="log-in-text">Logged in as: <%= current_user.email %></h4>
            </div>

            <%# Shopping cart icon displays how many items are in the cart %>
             <% if cart_has_items %>
              <%= link_to cart_path(@cart), class:"navbar-item button is-primary" do %>
              <span class="icon is-small">
                <i class="fa fa-shopping-cart"></i>
              </span>
              <span>Cart 
                <%= cart_count_over_one %>
              </span>
              <% end %>
            <% end %>
            
              <%= link_to 'Create a new listing', new_sticker_path, class: "navbar-item button is-warning has-text-black" %>

              <div class="navbar-item has-dropdown is-hoverable">
               
                <%= link_to 'My Account', edit_user_registration_path, class: "navbar-link button is-primary has-text-black" %>
                <div class="navbar-dropdown is-right">
                  <%= link_to current_user.username, edit_user_registration_path, class:"navbar-item" %>
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"navbar-item" %>
                  <%#= link_to "Purchase history", transaction_path, class:"navbar-item" do %>
                </div>
              </div>
            <% else %>


            <%= link_to "Sign In", new_user_session_path, class:"navbar-item button is-white" %>
            <%= link_to "Sign up", new_user_registration_path, class:"navbar-item button is-white" %>

            <% end %>

            </div>
          </div>
        </div>
    </div>
  </nav>


