<!DOCTYPE html>
<html>
  <head>
    <title>StickerStation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Responsive viewport meta tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# Links to stylesheets %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= yield (:body_class) %>" >

<%# Renders the navbar partial located in views> shared> _nav.html.erb %>
<%=render 'shared/nav'%>

<%# Renders a greeting to the user's username if they are signed in %>
<% if user_signed_in? %>
  <div class="subtitle log-in-div">
    <h2 class="greeting-text">User: <%= current_user.username %></h2>
  </div>
<% end %>

<%# Renders the search section  %>
<%=render 'shared/search'%>

<%# Flash notification when user has successfully signed in %>
 <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

<%# Flash notification when user performs invalid sign in action %>
    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
     
  <%= yield(:header) %>

  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>



           